body {
  background-color: #303030;
  color: white;
  font-family: 'Inconsolata', 'Monaco', 'Consolas', 'Courier New', 'Courier', sans-serif;
}

/* #424242 */


#html {
  background-color: #424242;
  color: white;
  font: inherit;
  border-radius: 10px;
  outline: none;
}

#css {
  background-color: #424242;
  color: white;
  font: inherit;
  border-radius: 10px;
  outline: none;
}

#js {
  background-color: #424242;
  color: white;
  font: inherit;
  border-radius: 10px;
  outline: none;
}

iframe {
  background-color: #424242;
  color: white;
  border-radius: 10px;
  font-family: sans-serif;
  outline: none;
}

button {
  background: rgb(38, 129, 210);
  color: white;
  border: none;
  position: relative;
  border-radius: 10px;
  height: 60px;
  padding:0 2em;
  cursor: pointer;
  transition: 800ms ease all; /*From Design Rush*/
  outline: none;
}

button:hover {
  background: #303030;
  color:rgb(38, 129, 210);
}

/*From Design Rush*/
button:before, button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height:2px;
  width:0;
  background: rgb(38, 129, 210);
  transition:400ms ease all;
}

button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

button:hover:before, button:hover:after{
  width:100%;
  transition:800ms ease all;
}
