body {
  background-color: #303030;
  color: white;
  font-family: 'Inconsolata', 'Monaco', 'Consolas', 'Courier New', 'Courier', sans-serif;
}

/* #424242 */

#html {
  background-color: #424242;
  color: white;
  font: inherit;
  border-radius: 10px;
}

#css {
  background-color: #424242;
  color: white;
  font: inherit;
  border-radius: 10px;

}

#js {
  background-color: #424242;
  color: white;
  font: inherit;
  border-radius: 10px;
}

iframe {
  background-color: #424242;
  color: white;
  border-radius: 10px;
  font-family: 'Inconsolata', 'Monaco', 'Consolas', 'Courier New', 'Courier', sans-serif;
}
